tweepy
pyspark
kafka-python
kafka
BeautifulSoup4
requests
numpy==1.15.4
sklearn
pandas
nltk
lxml
html5lib
flask
Flask-API
happybase
tensorflow
wget
tqdm
networkx
bs4
flask
flask-wtf
python-dotenv
flask-sqlalchemy
flask-migrate
flask-login
flask-mail
pyjwt
flask-bootstrap
flask-moment
flask-babel